body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 100px;
}

.orb {
  width: 150px;
  height: 150px;
  background: #3b82f6;
  border-radius: 50%;
  margin: 40px auto;
  transition: transform 4s ease-in-out;
}

.orb.breathe {
  transform: scale(1.5);
}
#panicBtn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

#panicBtn:hover {
  background: #dc2626;
}
